[submodule "repos/antigen"]
	path = repos/antigen
	url = https://github.com/zsh-users/antigen.git
	branch = master
[submodule "repos/fonts"]
	path = repos/fonts
	url = https://github.com/powerline/fonts.git
	branch = master
[submodule "repos/tpm"]
	path = repos/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "repos/zgen"]
	path = repos/zgen
	url = https://github.com/tarjoilija/zgen.git
	branch = master
[submodule "repos/nmcli-dmenu"]
	path = repos/nmcli-dmenu
	url = https://github.com/firecat53/nmcli-dmenu.git
[submodule "lemonaconda"]
	path = repos/lemonaconda
	url = https://github.com/Korrow/lemonaconda.git
	branch = master
[submodule "repos/tdrop"]
	path = repos/tdrop
	url = https://github.com/noctuid/tdrop.git
	branch = master
[submodule "repos/zplug"]
	path = repos/zplug
	url = https://github.com/b4b4r07/zplug
	branch = master
[submodule "repos/siji"]
	path = repos/siji
	url = https://github.com/stark/siji
[submodule "repos/powerline-for-polybar"]
	path = repos/powerline-for-polybar
	url = https://github.com/bacara/powerline-for-polybar
[submodule "repos/polybar-scripts"]
	path = repos/polybar-scripts
	url = https://github.com/polybar/polybar-scripts
