[submodule "repos/antigen"]
	path = repos/antigen
	url = https://github.com/zsh-users/antigen.git
	branch = master
[submodule "repos/fonts"]
	path = repos/fonts
	url = https://github.com/powerline/fonts.git
	branch = master
[submodule "repos/powerline-fonts"]
	path = repos/powerline-fonts
	url = https://github.com/powerline/fonts.git
	branch = master
[submodule "repos/tpm"]
	path = repos/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "neobundle.vim"]
	path = repos/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
	branch = master
