#include ".Xresources.d/colors/base16-material-palenight-256.Xresources"

*fading: 0

URxvt*font: xft:SauceCodePro\ Nerd\ Font\ Mono:size=10:antialias=true:hinting=true

! Copy paste bindings
URxvt.perl-ext-common: default,clipboard
URxvt.iso14755: False
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob
URxvt*transparent: true
URxvt*shading: 10

! Use tmux for history, so dont need urxvt scrollback
URxvt.saveLines: 0
! Also disable the scrollbar
URxvt.scrollBar: false

rofi.font: SourceCodePro Nerd Font Mono 20
rofi.opacity:                        100
rofi.width:                          50
rofi.lines:                          15
rofi.columns:                        1
rofi.fg:                             #002B36
! Does nothing
rofi.bg:                             #181818
rofi.color-enabled:                  true
!                                     bg      fg      bgalt   hlbg    hlfg
rofi.color-normal:                   #c3e88d,#292d3e,#ffcb6b,#7aa6da,#292d3e
rofi.color-active:                   #ff869a,#292d3e,#be5046,#7aa6da,#292d3e
rofi.color-urgent:                   #ff5370,#292d3e,#ff5370,#7aa6da,#292d3e
!                                    background  border
rofi.color-window:                   #121212,    #000000

