//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
//@theme "/home/keegan/.local/share/rofi/themes/rounded-keegan.rasi"
//@theme "/home/keegan/.local/share/rofi/themes/rounded-keegan.rasi"
//@theme "/home/keegan/.local/share/rofi/themes/rounded-keegan.rasi"
@theme "/home/keegan/.local/share/rofi/themes/rounded-keegan.rasi"
