//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
//@theme "$HOME/.local/share/rofi/themes/rounded-keegan.rasi"
//@theme "$HOME/.local/share/rofi/themes/rounded-keegan.rasi"
//@theme "$HOME/.local/share/rofi/themes/rounded-keegan.rasi"
@theme "$HOME/.local/share/rofi/themes/rounded-keegan.rasi"
